{% extends "mi_cat/base.html" %}

{% block head %}

<link rel="shortcut icon" href="../../static/assets/images/cat-pipol-trans.png" type="image/x-icon">
<title>Compra en Cat People</title>
<meta name="description" content="">

{% endblock %}
{% block content %}

<section class="mbr-section content4 cid-s0TVzR1mJj" id="content4-e" style="padding-top: 150px">
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2"><strong>Tu pedido ha sido realizado y el pago esta siendo procesado</strong></h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">
                    Gracias por comprar con nosotros.
                </h3>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section content4 cid-s0VbiJgzJZ" id="content4-15" style="padding-bottom: 100px">
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">
                    Recibiras un correo con la confirmación de tu compra. El pago se esta procesando, puedes contactarte con Cat People para confirmar su estado.
                </h3>
                <br><br>
                <a class="btn btn-info display-4" href="../../" style="align-content: center;">Cat People</a>
            </div>
        </div>
    </div>
</section>

{% endblock%}