{% extends "mod_baby/Base.html" %}




{% block content %}
<script type="text/javascript">
function myFunction() {
  var x = document.getElementById('extForm6-3e');
  if (x.style.display === 'none') {
    x.style.display = 'block';
  } else {
    x.style.display = 'none';
  }
}
</script>


<script type="text/javascript">
function myFunction() {
var x = document.getElementById('extForm6-3e');
if (x.style.display === 'none') {
  x.style.display = 'block';
} else {
  x.style.display = 'none';
}
}
</script>


<section class="carousel slide cid-sahDE14mZf" data-interval="false" id="slider1-3j">

  

  <div class="full-screen">
      <div class="mbr-slider slide carousel" data-keyboard="false" data-ride="carousel" data-interval="4000" data-pause="true">
          <ol class="carousel-indicators">
              <li data-app-prevent-settings="" data-target="#slider1-3j" class=" active" data-slide-to="0"></li>
              <li data-app-prevent-settings="" data-target="#slider1-3j" data-slide-to="1"></li>
              <li data-app-prevent-settings="" data-target="#slider1-3j" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
              <div class="carousel-item slider-fullscreen-image active" data-bg-video-slide="false" style="background-image: url(../../static/assets/befashion/images/mbr-11-1920x1280.jpg);">
                  <div class="container container-slide">
                      <div class="image_wrapper">
                          <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(239, 179, 149);"></div>
                          <img src="../../static/assets/befashion/images/mbr-11-1920x1280.jpg" alt="" title="">
                          <div class="carousel-caption justify-content-center"><div class="col-10 align-center">
                              <h2 class="mbr-fonts-style display-1 ">Promociones</h2>
                              <p class="lead mbr-text mbr-fonts-style display-5">Lorem ipsum dolor sit amet, consectetur adipiscing elitdo eiusmod temporeum dicant partem scripserit.&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elitdo eiusmod temporeum dicant partem scripserit</p>
                              <div class="mbr-section-btn" buttons="0">
                                  <a class="btn display-4 btn-white" href="#">VER MÁS INFORMACIÓN</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="carousel-item slider-fullscreen-image" data-bg-video-slide="false" style="background-image: url(../../static/assets/befashion/images/mbr-14-1920x1280.jpg);">
            <div class="container container-slide">
              <div class="image_wrapper">
                <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(239, 179, 149);"></div>
                <img src="../../static/assets/befashion/images/mbr-14-1920x1280.jpg" alt="" title="">
                <div class="carousel-caption justify-content-center">
                  <div class="col-10 align-center">
                    <h2 class="mbr-fonts-style display-1" >Promociones&nbsp;</h2>
                    <p class="lead mbr-text mbr-fonts-style display-5">Lorem ipsum dolor sit amet, consectetur adipiscing elitdo eiusmod temporeum dicant partem scripseritLorem ipsum dolor sit amet, consectetur adipiscing elitdo eiusmod temporeum dicant partem scripserit</p>
                    <div class="mbr-section-btn" buttons="0">
                      <a class="btn display-4 btn-white" href="#">VER MÁS INFORMACIÓN
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item slider-fullscreen-image" data-bg-video-slide="false" style="background-image: url(../../static/assets/befashion/images/mbr-1920x1355.jpg);">
            <div class="container container-slide">
              <div class="image_wrapper">
                <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(239, 179, 149);"
                ></div>
                <img src="../../static/assets/befashion/images/mbr-1920x1355.jpg" alt="" title="">
                <div class="carousel-caption justify-content-center">
                  <div class="col-10 align-center">
                    <h2 class="mbr-fonts-style display-1" >Titulo de la promo</h2>
                    <p class="lead mbr-text mbr-fonts-style display-5">Lorem ipsum dolor sit amet, consectetur adipiscing elitdo eiusmod temporeum dicant partem scripserit.&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elitdo eiusmod temporeum dicant partem scripserit</p>
                    <div class="mbr-section-btn" buttons="0">
                      <a class="btn display-4 btn-white" href="#">VER MÁS INFORMACIÓN
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <a data-app-prevent-settings="" class="carousel-control carousel-control-prev" role="button" data-slide="prev" href="#slider1-3j">
        <span aria-hidden="true" class="mbri-left mbr-iconfont"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a data-app-prevent-settings="" class="carousel-control carousel-control-next" role="button" data-slide="next" href="#slider1-3j">
        <span aria-hidden="true" class="mbri-right mbr-iconfont"></span><span class="sr-only">Next</span>
      </a>
  </div>
</div>

</section>

<section class="extClients clients cid-sahGbignXN" id="extClients4-3l">

  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1380px" height="810px" viewBox="0 -8.992806499463768e-14 1380 810" preserveAspectRatio="xMidYMid meet">
      <rect id="svgEditorBackground" x="0" y="0" width="1380" height="810" style="fill: none; stroke: none;"></rect>
      <defs id="svgEditorDefs">
          <polygon id="svgEditorShapeDefs" style="fill:khaki;stroke:black;vector-effect:non-scaling-stroke;stroke-width:1px;"></polygon>
          <path id="svgEditorClosePathDefs" style="stroke:black;stroke-width:1px;fill:khaki;"></path>
      </defs>
      <path d="M15083.791600683318,645.6720847341486c496.6000000000058,747.7999999999951,1953.3704016668416,1862.6734725832403,2751.999999999978,1967.9999999999955s1884.300000000003,-198.89999999999964,2718.7056474818382,-552.6365690040448s1746.4898225846773,-519.9524548776521,2593.2943525181545,-567.3634309959566s2251,-23.399999999999636,4384,1520.0000000000032s3205.199999999997,1437.2000000000025,4047.9999999999854,1520.0000000000018s3305.000000000029,-270.2999999999993,4640.000000000029,-1152s74.60000000000582,3328.3000000000065,32,3792.0000000000073s-19509.4,4591.000000000004,-21087.999999999993,-128.00000000000182s-1679.5999999999913,-6358.300000000001,-80,-6400Z" style="stroke:black;fill:khaki;stroke-width:0px;" id="e12_areaS3" transform="matrix(0.0650006 -0.00123765 0.00123765 0.0650006 -995.543 317.589)"></path>
      <path d="M12434.469938292996,-979.2324603008726c496.600000000004,747.8000000000001,1953.3704016668398,1862.673472583247,2752.000000000018,1967.9999999999995s1884.2999999999865,-198.90000000000055,2718.7056474818364,-552.6365690040473s1746.4898225846846,-519.9524548776479,2593.2943525181618,-567.3634309959524s2251,-23.400000000001455,4384,1520s3205.199999999997,1437.1999999999962,4048,1519.9999999999955s3304.9999999999927,-270.3000000000011,4640,-1151.9999999999955s74.60000000000582,3328.3,32,3791.9999999999955s-19509.400000000023,4590.999999999997,-21088.000000000015,-127.99999999999818s-1679.5999999999985,-6358.300000000008,-80,-6400.0000000000055Z" style="stroke:black;fill:aqua;stroke-width:0px;" id="e19_areaS3" transform="matrix(0.0647268 0.00608646 -0.00608646 0.0647268 -823.261 331.266)"></path><text dy="-0.5em" style="fill:black;font-family:Arial;font-size:20px;" id="e14_texte" transform="matrix(0.0640454 0 0 0.0640454 -832.187 329.878)">
          <textPath id="e13_textPath" xlink:href="#e12_areaS3">T</textPath>
      </text>
  </svg>
  <div class="container">
      <div class="carousel slide" data-ride="carousel" role="listbox">
        <div class="carousel-inner" data-visible="5">                     

          {% for c in marcas %}
           <div class="carousel-item ">
              <div class="media-container-row">
                  <div class="col-md-12">
                      <div class="wrap-img ">
                          <img src="{{c.foto.url}}" class="img-responsive clients-img">
                      </div>
                  </div>
              </div>
          </div>
          {% endfor %}

      </div>

          <div class="carousel-controls">
                <a data-app-prevent-settings="" class="carousel-control carousel-control-prev" role="button" data-slide="prev">
                    <span aria-hidden="true" class="mbri-left mbr-iconfont"></span>
                    <span class="sr-only">Previo</span>
                </a>
                <a data-app-prevent-settings="" class="carousel-control carousel-control-next" role="button" data-slide="next">
                    <span aria-hidden="true" class="mbri-right mbr-iconfont"></span>
                    <span class="sr-only">Siguiente</span>
                </a>
            </div>
      </div>
  </div>
</section>

<section class="features8 cid-sahEKqsqtD" id="extFeatures46-3k">

  <div class="container-fluid">
      <div class="row">
          <div class="card cardbg col-12 col-md-6 col-lg-3">
              <div class="card-wrapper text-card">

                  <p class="card-text align-left mbr-fonts-style display-7">Lorem ipsum dolor sit amet, consectetur adipiscing elitdo eiusmod
                      temporeum dicant partem scripserit. Lorem ipsum dolor sit amet, consec tetur adipiscing elit
                      adipiscing elitdo.</p>

              </div>
          </div>

          <div class="card col-12 col-md-6 col-lg-3">

              <div class="card-img">
                  <img src="../../static/assets/befashion/images/mbr-720x405.jpg" alt="#" title="">
              </div>
          </div>
          <div class="card m-auto col-12 col-md-6 col-lg-3">
              <div class="card-wrapper">

                  <h4 class="card-title align-left mbr-fonts-style display-2" >Be fashion&nbsp;<br>Baby</h4>

                  <div class="mbr-section-btn"><a href="../../Baby/productos" class="btn btn-black-outline display-4">Productos</a></div>


              </div>
          </div>


          <div class="card col-12 col-md-6 col-lg-3">

              <div class="card-img">
                  <img src="../../static/assets/befashion/images/mbr-720x480.jpg" alt="#" title="">
              </div>

          </div>


      </div>
  </div>
</section>

<section class="mbr-section extFeatures cid-sahGzfiFA2" id="extShop9-3n">

  <div class="container-fluid">
      <h2 class="mbr-section-title align-left mbr-fonts-style mbr-white display-2" s>Recien Llegados</h2>
      <h3 class="mbr-section-subtitle display-5 align-left mbr-fonts-style mbr-light pb-5 mbr-white pt-3">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.&nbsp;<br></h3>
      <div class="row justify-content-center">
        {% for c in nuevos %}
          <div class="card px-3 py-4 col-12 col-md-6 col-lg-3">
            <div class="card-wrapper ">
              <div class="card-img">
                <img width="180" height="450" alt="A 200x200 image" src="{{c.foto.url}}">
              </div>
              <div class="card-box">
                  <p class="mbr-text mbr-fonts-style align-center mbr-white display-5">
                      {{c.nombre}}
                  </p>
                  <div class="prices align-center">
                      
                      <span class="newPrice mbr-fonts-style mbr-bold display-5">
                        {% if c.promocion is True or c.preventa is True %}
                           ${{c.precio_promocion}} </span>
                           <span class="oldprice mbr-fonts-style display-7" >${{c.precio}}</span>
                           
                        {% else %}
                           ${{c.precio}}
                        {% endif %}
                      </span>
                  </div>
                  <div class="mbr-section-btn align-center pt-3">
                    <!-- <a href="#" class="btn btn-md btn-success display-4"><span class="mbri-cart-add mbr-iconfont mbr-iconfont-btn" style="font-size: 25px;"></span>Añadir al carrito</a> -->
                    <a href="../../Baby/item/{{c.slug}}/" class="btn btn-md btn-success display-4">Ver más</a>
                  </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>


  </div>
</section>



<section class="mbr-gallery mbr-slider-carousel cid-sahGtavbTY" id="gallery1-3m">


  <h2 class="align-center mbr-fonts-style mbr-section-title display-2" >Productos Destacados</h2>
  <div class="underline align-center">
      <div class="line"></div>
  </div>
  <div class="container" style="max-width: 96%;">
    <div>
        <div class="mbr-gallery-row">
            <div class="mbr-gallery-layout-default">
                <div>
                    <div>

                        {% for c in destacados %}
                        <div class="mbr-gallery-item mbr-gallery-item--p1" data-video-url="false" data-tags="Increíble">
                            <div href="#lb-extGallery7-2x" data-slide-to="0" data-toggle="modal">
                                <img src="{{c.foto.url}}" alt="" title="" style="object-fit: cover; object-position: center; height: 300px;">
                                <span class="icon-focus"></span>
                                <span class="mbr-gallery-title mbr-fonts-style display-7">Escribir subtítulo aquí</span>
                            </div>
                        </div>
                        {% endfor %} 
                        
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div data-app-prevent-settings="" class="mbr-slider modal fade carousel slide" tabindex="-1" data-keyboard="true" data-interval="false" id="lb-extGallery7-2x">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="carousel-inner">

                            {% for c in destacados %}
                            <div class="carousel-item {% if forloop.first %}active {% endif %}">
                                <img src="{{c.foto.url}}" alt="" title="">
                            </div>
                            {% endfor %} 
                            
                            
                        </div>
                        <a class="carousel-control carousel-control-prev" role="button" data-slide="prev" href="#lb-extGallery7-2x">
                            <span class="mbri-left mbr-iconfont" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control carousel-control-next" role="button" data-slide="next" href="#lb-extGallery7-2x">
                            <span class="mbri-right mbr-iconfont" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                        <a class="close" href="#" role="button" data-dismiss="modal">
                            <span class="sr-only">Close</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>


{% endblock %}