{% extends "befashion/Base.html" %}
{% block content %}
<section class="services5 cid-s8OYpXCp6Z" id="services5-v">
   <!---->
   <!---->
   <!--Overlay-->
   <!--Container-->
   <div class="container">
      <div class="row">
         <!--Titles-->
         <div class="title pb-5 col-12">
            <h2 class="align-left mbr-fonts-style m-0 display-1">&nbsp;Carrito</h2>
            <div class="col-12 col-md-8">
               <div class="mbr-section-btn align-left"><a class="btn btn-warning display-7" href="../realizar_pedido"><span class="mbri-cart-full mbr-iconfont mbr-iconfont-btn"></span>&nbsp; &nbsp; &nbsp;TERMINAR COMPRA</a>
                <a class="btn btn-primary display-7" href="../../"><span class="mbri-cart-full mbr-iconfont mbr-iconfont-btn"></span>&nbsp; &nbsp; &nbsp;SEGUIR COMPRANDO</a></div>
            </div>
            <br>
            <!--Card-1-->
            {% for c in productos_en_carrito %}
            <div class="card px-3 col-12">
               <div class="card-wrapper media-container-row media-container-row">
                  <div class="card-box">
                     <div class="top-line pb-3">
                        <h4 class="card-title mbr-fonts-style display-5">
                           <a href="http://www.sbpymes.com" class="text-warning"><strong>{{c.producto_idproducto.modulo_idmodulo.nombre}}  - {{c.producto_idproducto.nombre}}  - Cantidad: {{c.cantidad}} - Talla: {{c.talla}}</strong></a> 
                        </h4>
                        <p class="mbr-text cost mbr-fonts-style m-0 display-5">${{c.subtotal}}
                        </p>
                     </div>
                     <div class="bottom-line">
                        <p class="mbr-text mbr-fonts-style display-7">
                            {{c.producto_idproducto.descripcion}}
                        </p>
                        <p>
                            <form action='../../del_carrito/' method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{alerta}}                                
                            <input type="hidden" name="eliminar" value={{c.idcarritohasproductos}}>
                            <button type="submit" style="align-content: center;background-color: transparent; border: none; padding: 0px; color: #f06292;">&times; Eliminar</button>
                            </form> 
                        </p>
                     </div>
                  </div>
               </div>
            </div>
            {% endfor %}
         </div>
      </div>
   </div>
</section>
<section class="services5 cid-s8OYqEEjeF" id="services5-w">
   <div class="container">
      <div class="row">
         <!--Card-1-->
         <div class="card px-3 col-12">
            <div class="card-wrapper media-container-row media-container-row">
               <div class="card-box">
                  <div class="top-line pb-3">
                     <h4 class="card-title mbr-fonts-style display-2">TOTAL</h4>
                     <p class="mbr-text cost mbr-fonts-style m-0 display-5">
                        ${{carrito.total}} <br>+ Delivery</p>
                  </div>
                  <div class="bottom-line">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="media-container-row title">
         <div class="col-12 col-md-8">
            <div class="mbr-section-btn align-center"><a class="btn btn-warning display-7" href="../realizar_pedido"><span class="mbri-cart-full mbr-iconfont mbr-iconfont-btn"></span>&nbsp; &nbsp; &nbsp;TERMINAR COMPRA</a><a class="btn btn-primary display-7" href="../../"><span class="mbri-cart-full mbr-iconfont mbr-iconfont-btn"></span>&nbsp; &nbsp; &nbsp;SEGUIR COMPRANDO</a></div>
         </div>
      </div>
   </div>
   <br>
</section>
{% endblock %}