{% extends "befashion/Base.html" %}

{% block content %}

<section class="mbr-section content4 cid-s0TVzR1mJj" id="content4-e" style="padding-top: 150px">
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2"><strong>Tu pedido ha sido realizado pero hubo un error el pago.</strong></h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">
                    Error en el pago.
                </h3>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section content4 cid-s0VbiJgzJZ" id="content4-15" style="padding-bottom: 100px">
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">
                    Recibimos tu pedido, pero al momento de realizar el pago hubo un error, puedes realizar tu compra nuevamente o contactarte con nosotros para solucionar tu problema.
                </h3>
                <br><br>
                <a class="btn btn-info display-4" href="../../" style="align-content: center;">Be Fashion</a>
            </div>
        </div>
    </div>
</section>

{% endblock%}