{% extends "befashion/Base.html" %}

{% block content %}
{% if user.is_authenticated %}
<br/>
<br/>
<br/>
<br/>
<br/>
<section class="mbr-section content4 cid-s9gAS47hVx" id="content4-19" style="padding-top: 60px">
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-1"><strong>Bienvenido {{cliente.nombre}}</strong></h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">Mi Befashion </h3>
                <br>
                <br>
            </div>
        </div>
    </div>
</section>
<br>
<section class="mbr-section article content9 cid-s9gAS47hVx" id="content9-1a">
    <div class="container">
        <div class="inner-container" style="width: 100%;">
            <hr class="line" style="width: 10%;">
            <input type="hidden" value="{{cliente.idcliente}}" id="pkcliente" name="pkcliente"/>
            <div class="section-text align-left mbr-fonts-style display-5">
            	<div class="row">
            		<div class="col-lg-3 col-md-6">
	                	<strong> Nombre: </strong> 
	                </div> 
	                <div class="col-lg-9 col-md-6">
	                	{{cliente.nombre}}
	            	</div>
	            </div>
	            <div class="row">
	                <div class="col-lg-3 col-md-6">
	                	<strong> Apellido: </strong> 
	                </div> 
	                <div class="col-lg-9 col-md-6">
	                	{{cliente.apellido}}
	            	</div>
	            </div>
	            <div class="row">
	                <div class="col-lg-3 col-md-6">
	                	<strong> Telefono: </strong> 
	                </div> 
	                <div class="col-lg-9 col-md-6">
	                	{{cliente.telefono}}
	            	</div>
                </div>
                <div class="row">
	                <div class="col-lg-3 col-md-6">
	                	<strong> Dirección: </strong> 
	                </div> 
	                <div class="col-lg-9 col-md-6">
	                	{{cliente.direccion}}
	            	</div>
	            </div>
	            <div class="row">
	                <div class="col-lg-3 col-md-6">
	                	<strong> Email: </strong> 
	                </div> 
	                <div class="col-lg-9 col-md-6">
	                	{{cliente.email}}
	            	</div>
	            </div>
	            <br>
                <div class="form-group" style="width: 100%">
                    <a class="btn btn-success display-4" href="../add_user">Actualizar Datos</a>
	               	<a class="btn btn-success display-4" href="../change_pass">Cambiar contraseña</a>
                    <a class="btn btn-danger display-4" href="../log_out">Cerrar Session</a>
	            </div>
            </div>
        </div>
    </div>
</section>

<!-- <section class="mbr-section content8 cid-s9gAS47hVx" id="content8-1b" style="padding-top: 0px">
    <div class="container">
        <div class="media-container-row title">
            <div class="col-12 col-md-8">
                <div class="mbr-section-btn align-center">
                	<a class="btn btn-info display-4" href="../productos">+ PRODUCTOS</a>
                    {% if productos_en_carrito %}
                    <a class="btn btn-info display-4" href="../pre_confirmacion">Finalizar compra</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section> -->

{% else %}


<br/>
<br/>
<br/>
<br/>
<br/>
<section class="features3 cid-s9gAS47hVx" id="content12-y">
    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text counter-container col-12 col-md-8 mbr-fonts-style display-7">
            	<h4 class="align-center pb-3 mbr-fonts-style display-2"><strong>Ingresa a tu cuenta</strong></h4>
            	<h3 class="mbr-section-subtitle align-center mbr-fonts-style display-5">Ingresa con tu email y contraseña</h3>
            	<h3 class="mbr-section-subtitle align-center mbr-fonts-style display-5">{{alerta}}</h3>
            	<br>
                <form action='../login/' method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="dragArea form-row">
						<div class="col-lg-12 col-md-12 col-sm-12 form-group">
                            <span class="mbr-iconfont mobi-mbri-letter mobi-mbri"></span>
                            <input type="text" name="email" placeholder="Email" class="form-control display-7">
                        </div>
						<div class="col-lg-12 col-md-12 col-sm-12 form-group">
                            <span class="mbr-iconfont mobi-mbri-letter mobi-mbri"></span>
                            <input type="password" name="password" placeholder="Contraseña" class="form-control display-7">
                        </div>
                		<button type="submit" class="btn btn-sm btn-black-outline display-4">INGRESAR</button>
                	</div>
                </form>
            </div>
        </div>
    </div>
</section>
<section class="features3 cid-s9gAS47hVx" id="content8-17" style="padding-top: 20px">
    <div class="container">
        <div class="media-container-row title">
            <div class="col-12 col-md-8">
                <div class="mbr-section-btn align-center">
                	<a class="btn btn-sm btn-black-outline display-4"  href="../forgot">OLVIDE MI CONTRASEÑA</a>
                    <a class="btn btn-sm btn-black-outline display-4" href="../add_user">CREAR NUEVA CUENTA</a></div>
            </div>
        </div>
    </div>
</section>
{% endif %}

{% endblock %}