{% extends "befashion/Base.html" %}
{% block content %}
<section class="services5 cid-s8OYpXCp6Z" id="services5-v">
    <div class="container">
        <div class="media-container-row">
            <div class="col-md-10 col-lg-8 block-content">
                <div>
                    <div class="dragArea form-row">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-4"></div>
                                <div class="col-md-4"> 
                                    <a class="btn btn-sm btn-danger" href="/realizar_pedido_factura" style="float: right;">
                                        ¿Necesita Factura?
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% if objalert.flagAlert == True %}
                        <div class="container">
                            <div class="row" style="background-color: #E58353 !important;padding: 15px;
                            margin-bottom: 20px;
                            margin-top: 20px;
                            border: 1px solid transparent;
                            border-radius: 3px;" >
                                <div class="col-md-12 "> 
                                        {% for a in objalert.listAlert %}
                                            <div class="col-md-12" style="color:white;font-size: x-large;">
                                                <span class="mbri-info"></span>
                                                <message>No contamos con el stock suficiente para el producto <b>{{a.objtemp.producto_idproducto.nombre}}</b> en la talla <b>{{a.objtemp.talla_idtalla}}.</b> </message> 
                                                <br>
                                                <h5 style="font-family: Arial Narrow;padding-left: 30px;padding-bottom: 20px;" >su pedido es de {{ a.cantidadpedido }} unidades pero solo contamos con {{ a.objtemp.stock }}. </h5>
                                            </div> 
                                        {% endfor %}
                                        <a class="btn btn-sm btn-white display-4" href="../carrito">
                                            <span class="mbri-logout mbr-iconfont mbr-iconfont-btn"> 
                                            </span>
                                            Volver al Carrito
                                        </a> 
                                        <!-- <a href="../carrito" style="color:blue;" value="Regresar">Volver al Carrito</a> -->
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="col-md-12">
                            <h2 class="mbr-fonts-style mbr-fonts-style mb-4 display-2">Realizar tu pedido (Boleta)</h2>
                        </div>
                        <div class="col-md-12 input-group-btn mt-2">
                            <form action='../realizar_pedido2/' method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="tipoDocumento" value="Boleta" >
                                
                                <div data-for="name" class="col-md-12  form-group">
                                    <input type="text" name="nombre" placeholder="Nombre" data-form-field="Name" value="{{cliente.nombre}}" class="form-control input display-7" required="required"  >
                                </div>
                                <div data-for="email" class="col-md-12  form-group">
                                    <input type="text" name="email" placeholder="Email" data-form-field="Email" value="{{cliente.email}}" class="form-control input display-7" required="required"  >
                                </div>
                                <div data-for="email" class="col-md-12  form-group">
                                    <input type="text" name="telefono" placeholder="Telefono" data-form-field="Telefono" value="{{cliente.telefono}}" class="form-control input display-7" required="required"  >
                                </div>
                                <div data-for="email" class="col-md-12  form-group">
                                    <input type="text" name="direccion" class="form-control display-7 form-group" value="{{cliente.direccion}}" placeholder="Direccion" required="" id="id_direccion">
                                </div>
                                <div data-for="email" class="col-md-12  form-group">
                                    <input type="text" name="comuna" class="form-control display-7 form-group" value="{{cliente.comuna}}" placeholder="Comuna" required="" id="id_comuna">
                                </div>
                                <div data-for="email" class="col-md-12  form-group">
                                    <input type="text" name="ciudad" class="form-control display-7 form-group" value="{{cliente.ciudad}}" placeholder="Ciudad" required="" id="id_ciudad">
                                </div>
                                <div data-for="email" class="col-md-12  form-group">
                                    <select class="form-control input display-7 form-group" required="required" name="delivery" >
                                        {% for c in delivery %}
                                           <option value="{{c.iddelivery}} " > {{c.nombre}} - {{c.precio}}</option>
                                        {% endfor %}
                                   </select>
                                </div>  
                                <div class="col-md-12  form-group" data-for="message">
                                    <textarea type="textarea" name="message" placeholder="Notas" data-form-field="Message" class="form-control input display-7"></textarea>
                                </div>
                                <div class="col-md-12 input-group-btn mt-2">
                                    <button type="submit" class="btn btn-form btn-bgr btn-success display-4">Pagar</button>
                                </div> 
                                <!-- {{form.as_table}} -->
                                {% comment %} <button class="btn btn-success" type="submit" value="buscador">Pagar</button> {% endcomment %}
                            </form>
                         </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}